hostname {{ device.name }}
vrf Mgmt
 address-family ipv6 unicast
 !
!
{%- for interface in device.interfaces.all()|sort(attribute='label') %}
interface {{ interface.name }}
 {%- if interface.vrf %}
 vrf {{ interface.vrf }}
 {%- endif %}
 {%- for ip in interface.ip_addresses.all() %}
 ipv{{ ip.family }} address {{ ip.address }}
 {%- endfor %}
 {%- if not interface.connected_endpoints and interface.type is eq '1000base-t' %}
 shutdown
 {%- endif %}
!
{%- endfor %}
router static
 vrf Mgmt
  address-family ipv4 unicast
   0.0.0.0/0 172.24.16.1
  !
 !
!
xml agent tty
 iteration off
!
xml agent
 vrf Mgmt
 !
!
lldp
!
ssh server v2
ssh server vrf Mgmt
end