hostname {{ device.name }}
vrf Mgmt
 address-family ipv6 unicast
 !
{%- if device.device_role.id == 3 %}
vrf Core
 address-family ipv6 unicast
{%- endif %}
!
{%- for interface in device.interfaces.all()|sort(attribute='label') %}
interface {{ interface.name }}
 {%- if interface.vrf %}
 vrf {{ interface.vrf }}
 {%- endif %}
 {%- for ip in interface.ip_addresses.all() %}
 ipv{{ ip.family }} address {{ ip.address }}
 {%- endfor %}
!
{%- endfor %}
router static
 vrf Mgmt
  address-family ipv6 unicast
   ::/0 2602:fe6a:301:1::1
  !
 !
{%- if device.device_role.id == 3 %}
router isis internal
 net 49.0000.0000.0000.{{ "%04X"|format(device.id) }}.00
 {%- for interface in device.interfaces.all()|rejectattr() %}
 interface {{ interface.name }}
  address-family ipv6 unicast
 {%- endfor %}
 !
{%- endif %}
!
xml agent tty
 iteration off
!
xml agent
 vrf Mgmt
 !
!
lldp
!
ssh server v2
ssh server vrf Mgmt
end